*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Gray-1: #333333;
    --Gray-2: #4f4f4f;
    --Gray-3:  #BDBDBD;
    --white:  #FFF;
}

html{
    font-family: 'Space Mono', monospace;
    font-size: 62.5%;
}


.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.card-left__image{
    width: 53.9rem;
    height: 44.7rem;

}

.card-right__title{
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 9.4rem;
    color: var(--Gray-1)d;
}

.card-right__description{
    margin-bottom: 6.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--Gray-2);
}

.card-right__button{
    width: 21.6rem;
    height: 6.8rem;
    background-color: var(--Gray-1);
    border:none;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white);
}
